* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: hsl(300, 24%, 96%);
}

.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr) 200px;
    grid-template-areas: "main" "section" "footer";
    gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    padding: 3rem;
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 900;
    font-size: 40px;
    width: 350px;
}

.title p {
    color: hsl(303, 10%, 53%);
    width: 300px;
    font-size: 16px;
    font-weight: 400;
}

.rate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
}

.rate .move-1 {
    left: 30px;
    position: relative;
}

.rate .move-2 {
    left: 60px;
    position: relative;
}

.rate .stars {
    display: flex;
    justify-content: space-evenly;
    color: hsl(300, 43%, 22%);
    background-color: hsl(308, 14%, 79%);
    height: 7vh;
    width: 350px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-items: center;
}

#cards {
    grid-area: section;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.card-color {
    max-width: 70%;
    max-height: 50vh;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem;
}

.card-color h4 {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.card-color h3,
.card-color p {
    color: white;
}

.card-color p {
    font-size: 18px;
    font-weight: 400;
}

.card-color img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-2 {
    position: relative;
    top: 20px;
}
.card-3 {
    position: relative;
    top: 40px;
}

.details {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

@media (max-width:750px) and (min-width:300px) {


    main {
        flex-direction: column;
        gap: 3rem;
        align-items: baseline;
    }

    .title h1 {
        padding: 2rem;
    }

    .rate .stars {
        flex-direction: column;
        position: static;
    }

    .static {
        position: static;
    }

    #cards {
        flex-direction: column;
    }
    .card-color {
        align-self: center;
        max-height: 70vh;
    }
}

footer {
    grid-area: footer;
}